# -*- sh -*-

# Use nixpkgs from nix/sources.json:
if type jq &>/dev/null; then
  nixpkgs=$(jq --raw-output .nixpkgs.url nix/sources.json)
  export NIX_PATH=nixpkgs="$nixpkgs"
fi

# Load in the shell.nix file:
if type lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Reload if these files change:
watch_file $(find . -name '*.cabal' -o -name '*.nix')
