[submodule "vendor/xmonad"]
	path = vendor/xmonad
	url = https://github.com/pjones/xmonad.git
[submodule "vendor/xmonad-contrib"]
	path = vendor/xmonad-contrib
	url = https://github.com/pjones/xmonad-contrib.git
