[submodule "vendor/xmonad"]
	path = vendor/xmonad
	url = https://github.com/pjones/xmonad.git
[submodule "vendor/xmonad-contrib"]
	path = vendor/xmonad-contrib
	url = https://github.com/pjones/xmonad-contrib.git
[submodule "vendor/playlists"]
	path = vendor/playlists
	url = git://git.devalot.com/playlists
[submodule "vendor/playlists-http"]
	path = vendor/playlists-http
	url = git://git.devalot.com/playlists-http
[submodule "vendor/x11"]
	path = vendor/x11
	url = https://github.com/xmonad/X11.git
[submodule "vendor/x11-xft"]
	path = vendor/x11-xft
	url = https://github.com/csstaub/X11-xft.git
